* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --color-border: #dbdbdb;
}

.main-container {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 18vw;
    height: 100vh;
    position: fixed;
    top:0;
    background-color: #fafafa;
    border-right: 1px solid lightgrey;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-footer{
    display:none;
}
.sidebar-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.logo {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 360px;
}


.category{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 65%;
    height: 45px;
    cursor: pointer;
}
.category:hover{
    background:lightgrey;
    border-radius: 5px;
} 
.material-symbols-outlined{
    margin-right: 20px;
    font-size: 27px;
}
.sidebar-footer {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: auto;
}
.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    padding: 0;
}
.profile-container {
    display: flex;
    align-items: center;
    background: none;
    width: 270px;
    height: 45px;
    margin: 30px;

}
.profile-footer span{
    margin-right: 17px;
    font-size: 12px;
}
.profile-footer{
 margin-top: 35px;
 margin-bottom: 35px;
 font-size: 10px;
 font-weight: 600;
}
.profile-container img{
    display: flex;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
    margin: 10px 10px 10px 20px;
    font-size: 35px; 
}

.profile img{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 40px;
}

.category img{
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    background-color: #fafafa;
    margin-right: 15px; 
}

main {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.content-container {
    padding-top: 30px;
    width: 935px;
    height: 100%;
    display: flex;
    overflow: hidden;
    margin-left: 70px;
}
.mobile-footer .material-symbols-outlined {
    cursor: pointer;
}
.content {
    margin: 0 28px 0 0;
    width: 614px;
    height: 100%;
    overflow-y: scroll;
 }

.sidebar-left {
    width: 293px;
    height: 100%;
}

.stories {
    background-color: white;
    width: 100%;
    padding: 16px 0;
    border: 1px solid var(--color-border);
    border-radius: 3px;
    height: 118px;
    overflow: hidden ;
}

.stories-inner {
    padding-left: 22px;
    padding-top: 10px;
    display: flex;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.story {
    margin-right: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.story-image {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.story-border {
    position: absolute;
    height: 64px;
    width: 64px;
    top: -4px;
    left: -4px;
    border: 2px solid #e03d67;
    border-radius: 50%;
}

.story-text {
    display: flex;
    justify-content: center;
    margin-left: -5px;
    margin-top: 6px;
    letter-spacing: .01em;
    max-width: 74px;
    font-size: 12px;
    font-weight: 400;
}

.post {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    width: 100%;
    border: 1px solid var(--color-border);
    margin-top: 24px;
}

.profile-area {
    display: flex;
    align-items: center;
}

.post-pic img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-name {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 16px;
    border: 1px solid var(--color-border);
    border-bottom: none;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-comment-share {
    display: flex;
}
.likes {
    font-size: 14px;
    margin-top: 5px;
}
.caption-username {
    font-size: 14px;
    font-weight: 400;
}
.caption-text {
    font-size: 14px;
    font-weight: 400;
}

.posted-time {
    font-size: 10px;
    font-weight: 400;
    color: #989898;
    margin-top: 5px;
}

.add-comment {
    border-top: 1px solid #efefef;
    width: 100%;
    background: white;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    padding: 0 16px;
}

.add-comment input {
    outline: none;
    border: none;
}

::placeholder {
    font-size: 14px;
}

.post-btn {
    text-decoration: none;
    font-size: 14px;
}

.profile-details {
    display: flex;
    align-items: center;
    margin: 18px 0 10px 0;
    padding: 10px;

}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-details-top{
    font-size: 14px;
    font-weight: 600;
}
.user-details-bottom{
    font-size: 12px;
    font-weight: 400;
}

.suggestions-header {
    display: flex;
    justify-content: space-between;
}
.title {
    font-size: 14px;
    font-weight: 600;
    color: #8e8e8e;
}
.see-all-btn {
    color: #262626;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.suggestion-details {
    display: flex;
    align-items: center;
}
.suggestion-profile-details {
    display: flex;
    flex-direction: column;
}
.suggestion-pic img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.follow-btn {
    font-size: 12px;
    text-decoration: none;
}
.text-muted {
    padding: 0;
    font-size: 12px;
    margin: 0;
    font-weight: 400 ;
    line-height: 14px;
    margin-left: 10px;
}

.body img {
    width: 100%;
}


.profile{
    display: flex;
    margin: 0 28px 0 0;
    width: 614px;
    height: 100%;
    overflow-y: scroll;
    border-bottom: 1px solid lightgrey ;
}

.profile-info{
    width: 614px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.profile-pic img{
   height: 5%;
   width: 160px;
   border-radius: 50%;
   background-color: #fafafa;
   padding: 0px;
   margin-left: 20px;
}

.top-items, .bottom-items, .middle-items{
display: flex;
align-items: center;
justify-content:space-between;
margin-bottom: 13px;
font-size: 17px;
}
.bottom-items span{
    font-weight: 500;

}
.profile-contants{
    width: 350px;
    margin-left: 40px;
}

.list-group-item{
    font-size: 16px;
    font-weight: 500;
    display: flex;
   justify-content: center;
}
.edit-modal-container .list-group {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 75%;
    height: 30%;
    max-width: 400px;
    text-align: center;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 48px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.edit-modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  };

  